
#fMan_navpath {
    padding-left: 2px;
    padding-top: 1px;
}

input.flm-nav-refresh {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
/*    background-image: url(images/curdir.png);
    background-repeat: no-repeat;
        background-position: center center;
 */
    background-color: transparent;
    height: 18px;
    width: 18px;
    padding: 0px;


    border: 1px solid #FBFBFC;
}
input.flm-nav-refresh:hover {
    background-position: -57px -83px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #D6D6D6;
    border-right-color: #D6D6D6;
    border-bottom-color: #D6D6D6;
    border-left-color: #D6D6D6;
}

table.disabled_table {
    color: #DFDFDF;
}

div[id^="flm_popup_"].dlg-window
{
    min-width: 350px;
    overflow: visible;
}

div[id^="flm_popup_"].dlg-header {
    margin-left: 1px;
    padding-left: 2px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fMan_CArchiveRAR {

    margin-top:5px;
    margin-bottom:5px;
}
div#flm-settings-pane {
    overflow: auto;
}

div[id^="flm_popup_"].aright {
    float:right;
}

input.text-long {
    min-width: 351px;
    width: 88%;
}

#flm_popup_nfo_view-content {
    width: 589px;
    height: 600px;
    overflow: scroll;
}

#flm_popup_window.dlg-window #flm_popup_nfo_view-content pre, #flm_popup_console-log-container {
    overflow: scroll;
    height: 380px;
    min-height: 420px;
    width:100%;
}
#flm_popup_nfo_view-content pre, #flm_popup_console-log-container pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 9pt;
}

#flm_popup_console .flm-sprite-loading-create
{
    background: transparent url( ../../create/images/ajax-loader.gif) no-repeat 15px 2px
}

#flm_popup_console .flm-sprite-loading-default
{
    background: transparent url(../../../images/ajax-loader.gif ) no-repeat 15px 2px
}
.checklist {
    min-width:460px;
    height: 120px;
    overflow: scroll;
    text-align: left;
}
.checklist ul {
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.checklist ul li {
    list-style-type: none;
    margin-bottom: 4px;
}
.checklist ul li input {
    vertical-align: top;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 0px;
}

.flm-sprite-diag {
    float: left;
    margin-right: 6px;
}

.flm-sprite {
    background-image: url(spritesheet.png) !important;
    background-repeat: no-repeat !important;
    display: block;
}

.sprite-archive {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-console {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}

.sprite-copy {
    width: 16px;
    height: 16px;
    background-position: -57px -5px;
}

.sprite-curdir {
    width: 16px;
    height: 16px;
    background-position: -83px -5px;
}

.sprite-delete {
    width: 16px;
    height: 16px;
    background-position: -5px -31px;
}

.flm-sprite-dir_up {
    width: 16px;
    height: 16px;
    background-position: -31px -31px;
}

.sprite-extract {
    width: 16px;
    height: 16px;
    background-position: -57px -31px;
}

.sprite-image {
    width: 16px;
    height: 16px;
    background-position: -83px -31px;
}

.sprite-move {
    width: 16px;
    height: 16px;
    background-position: -5px -57px;
}

.sprite-mp3 {
    width: 16px;
    height: 16px;
    background-position: -31px -57px;
}

.sprite-mkdir {
    width: 16px;
    height: 16px;
    background-attachment: scroll;
    background-position: -57px -57px !important;
}

.sprite-nfo, .sprite-nfo_view {
    width: 16px;
    height: 16px;
    background-position: -83px -57px;
}

.sprite-rar {
    width: 16px;
    height: 16px;
    background-position: -5px -83px;
}

.sprite-rarpart {
    width: 16px;
    height: 16px;
    background-position: -31px -83px;
}

.sprite-refresh {
    width: 16px;
    height: 16px;
    background-position: -57px -83px;
}

.sprite-rename {
    width: 16px;
    height: 16px;
    background-position: -83px -83px;
}

.sprite-sfv, .sprite-sfv_create, .sprite-sfv_check {
    width: 16px;
    height: 16px;
    background-position: -109px -5px;
}

.sprite-torrent {
    width: 16px;
    height: 16px;
    background-position: -109px -31px;
}

.sprite-video {
    width: 16px;
    height: 16px;
    background-position: -109px -57px;
}

.sprite-vplay {
    width: 16px;
    height: 16px;
    background-position: -109px -83px;
}

.sprite-zip {
    width: 16px;
    height: 16px;
    background-position: -5px -109px;
}
