{% extends "flm::dialog-window.twig" %}

{% block content %}
    <form class="row g-3 needs-validation" novalidate>

    {{ window.pathBrowser(theUILang.fcNewDir, theUILang.Name) }}
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        (function (dialogs) {
            var diagId = dialogs.getCurrentDialog();
            var nameInput = dialogs.dirBrowserInput(diagId);

            flm.utils.setValidation(nameInput);

            dialogs.onStart(() => flm.actions.doNewDir(nameInput));

            setTimeout(function () {
                nameInput.click();
                nameInput.select();
            });
        })
        (flm.ui.getDialogs());
    </script>
{% endblock %}