{% extends "flm::dialog-window.twig" %}
{% block content %}
<div>
    <fieldset>
        <legend>{{ theUILang.fcNewDir }}</legend>
        <div style="padding-top:3px; padding-bottom:4px;">
            <label for="flm_popup_mkdir-currentpath"><strong>Inside path: </strong></label>
            <pre id="flm_popup_mkdir-currentpath" style="overflow-x: scroll">{{ currentPath }}</pre>
        </div>
        <label for="fMan-ndirname"><strong>{{ theUILang.Name }}:</strong></label>
        <input type="text"
               name="fMan-ndirname"
               id="fMan-ndirname"
               value="New Folder"
               style="width:200px;"/>
    </fieldset>
</div>
{% endblock %}
{% block scripts %}
    <script>
        (function (global) {

            flm.ui.getDialogs().onStart(function () {
                console.log('hello from dialog new dir twig');
                var dirname = flm.getCurrentPath($('#fMan-ndirname').val());
                var currentPath = $('#flm_popup_mkdir-currentpath').val();
                dirname = flm.utils.buildPath([currentPath, dirname]);

                if (!flm.utils.isValidPath(dirname)) {
                    alert(theUILang.fDiagInvalidname);
                    return;
                }

                return flm.manager.createNewDir(dirname);
            });

        })
        (window);
    </script>
{% endblock %}




