{% set pathbrowse = false %}
{% set multiselect = 1 %}
{% set multiselectFilesOnly = true %}

{% extends "flm::dialog-window.twig" %}
{% block heading %}
    <legend>{{ theUILang.fDiagSFVCreateSel }}</legend>
{% endblock %}

{% block content %}
    {{ window.pathBrowser(selectedTarget, theUILang.fDiagTo) }}

    <div class="mb-3 row">
        <div class="input-group mb-3">
            <label class="input-group-text" for="fman-checksum-type">Algorithm</label>
            <select id="fman-checksum-type" class="form-select fman-checksum-type" name="fman-checksum-type"
                    aria-label="Algorithm" disabled>
                <option value="CRC32" selected>Default - CRC32</option>
            </select>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        (function () {
            let dialog = flm.ui.getDialogs();
            const diagId = dialog.getCurrentDialog();
            const cPath = flm.getCurrentPath();
            var pathBrowser = dialog.dirBrowserInput(diagId);
            var ext = 'sfv';

            dialog.onStart(() => flm.actions.doChecksumCreate(
                dialog.getCheckedList(diagId),
                $.trim(dialog.getTargetPath(diagId)))
            );

            const updateFilePath = function (path) {
                let filePath = flm.utils.replaceFilePath(path.val(), path.data('previousValue'), ext);
                dialog.updateTargetPath(diagId, filePath);
            };

            pathBrowser.change(function () {
                updateFilePath($(this));
            });

            updateFilePath(pathBrowser);
        })
        (window);
    </script>
{% endblock %}

