{% extends "flm::dialog-window.twig" %}
{% block content %}
<div>
    <fieldset>
        <legend>{{ theUILang.fcNewDir }}</legend>
        <label for="fMan-ndirname"><strong>{{ theUILang.Name }}:</strong></label>
        <input type="text"
               name="fMan-ndirname"
               id="fMan-ndirname"
               value="New Folder"
               style="width:200px;"/>
    </fieldset>
</div>
{% endblock %}
{% block scripts %}
<script>
    (function (global) {


        if(!flm.manager.hasOwnProperty('createNewDir')) {
                // service
                flm.manager.createNewDir= function (dirname) {

                var ndn = $.trim(dirname);
                var deferred = $.Deferred();

                if (!ndn.length) {
                    deferred.reject(theUILang.fDiagInvalidname);
                    return deferred.promise();
                }

                var fileName = flm.utils.basename(ndn);

                if (flm.ui.browser.fileExists(fileName)) {
                    deferred.reject(theUILang.fDiagAexist, ndn);
                    return deferred.promise();
                }

                var cPath = flm.getCurrentPath();

                return flm.api.mkDir(ndn)
                    .then(function (response) {
                            flm.Refresh(cPath);
                            return response;
                        },
                        function (response) {
                            return response;
                        });

            };
        }


        flm.ui.getDialogs().onStart(function () {
            console.log('hello from dialog new dir twig');
            var dirname = flm.getCurrentPath($('#fMan-ndirname').val());
            var currentPath = $('#flm_popup_mkdir-currentpath').val();
            dirname = flm.utils.buildPath([currentPath, dirname]);

            if (!flm.utils.isValidPath(dirname)) {
                alert(theUILang.fDiagInvalidname);
                return;
            }

            return flm.manager.createNewDir(dirname);
        });

    })
    (window);
</script>
{% endblock %}




