{% extends "flm::dialog-window.twig" %}
{% block heading %}
    <legend>{{ theUILang.fDiagSFVCheckf  }}</legend>
{% endblock %}

{% block content %}
    <fieldset>
        <div id="fMang_ChSFVfile" style="width:440px;"></div>
    </fieldset>'
{% endblock %}



