{% extends "flm::dialog-window.twig" %}
{% block content %}
<fieldset><legend>Command log:</legend>
    <div id="fMan_ConsoleLog" style="width:500px; height:310px;">
        <pre></pre>
    </div>
</fieldset>'

{% endblock %}




