{% extends "flm::dialog-window.twig" %}

{% block content %}
    <form class="row g-3 needs-validation" novalidate>

    {{ window.pathBrowser(theUILang.fcNewDir, theUILang.Name, "", "required", theUILang.fDiagInvalidname) }}
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        (function (dialogs) {
            var diagId = dialogs.getCurrentDialog();
            var nameInput = dialogs.dirBrowserInput(diagId);
            nameInput.on("input", () => {
                nameInput[0].setCustomValidity("");
                nameInput[0].checkValidity();
            });
            dialogs.onStart(() => flm.actions.doNewDir(nameInput, $('#'+diagId + ' .invalid-feedback')));

            setTimeout(function () {
                nameInput.click();
                nameInput.select();
            });
        })
        (flm.ui.getDialogs());
    </script>
{% endblock %}