{% extends "flm::dialog-window.twig.html" %}
{% block content %}
{{ window.pathBrowser(theUILang.fcNewDir, theUILang.Name) }}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    (function (dialogs) {
        var diagId = dialogs.getCurrentDialog();
        var nameInput = dialogs.dirBrowserInput(diagId);

        dialogs.onStart(
            function () {
                var dirname = flm.utils.basename(nameInput.val());
                var hasError;

                if (!dirname) {
                    hasError = theUILang.fDiagInvalidname;
                } else if (flm.ui.browser.fileExists(dirname)) {
                    hasError = theUILang.fDiagAexist;
                }

                if ($type(hasError)) {
                    var def = $.Deferred();
                    def.reject({errcode: theUILang.fcNewDir, msg: hasError + ' - ' + dirname});
                }

                return $type(hasError)
                    ? def.promise()
                    : flm.api.mkDir(flm.getCurrentPath(dirname))
                        .done(function (response) {
                            flm.Refresh();
                            return response;
                        });

            });

        nameInput.parent().on('submit', function () {
            flm.ui.dialogs.startButton('mkdir').click();
            return false
        });
        setTimeout(function () {
            nameInput.click();
            nameInput.select();
        });
    })
    (flm.ui.getDialogs());
</script>
{% endblock %}




