{% extends "flm::dialog-window.twig" %}
{% block content %}
    <div>
        <fieldset>
            <legend>{{ theUILang.fcNewDir }}</legend>
            <label for="fMan-ndirname"><strong>{{ theUILang.Name }}:</strong></label>
            <input type="text"
                   name="fMan-ndirname"
                   id="fMan-ndirname"
                   value="New Folder"
                   style="width:200px;"/>
        </fieldset>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        (function (global) {

            flm.ui.getDialogs().onStart(
                function () {
                    console.log('hello from dialog new dir twig');
                    var dirname = flm.utils.basename($('#fMan-ndirname').val());
                    var currentPath = flm.getCurrentPath();
                    var hasError;

                    if (!dirname) {
                        hasError = theUILang.fDiagInvalidname;
                    } else if (flm.ui.browser.fileExists(dirname)) {
                        hasError = theUILang.fDiagAexist;
                    }

                    if ($type(hasError)) {
                        var def = $.Deferred();
                        def.reject(theUILang.fcNewDir, hasError + ' - ' + dirname);
                    }

                    return $type(hasError)
                        ? def.promise()
                        : flm.api.mkDir(flm.getCurrentPath(dirname))
                            .done(function (response) {
                                flm.Refresh(currentPath);
                                return response;
                            });

            });

        })
        (window);
    </script>
{% endblock %}




