{% extends "flm::dialog-window.twig" %}
{% set startButtonValue = theUILang.fDiagStart %}

{% block heading %}
    <legend>{{ theUILang.fDiagSFVCheckf  }}</legend>
{% endblock %}

{% block content %}
<fieldset>
    <div class="flm-diag-nav-path" style="padding-top:3px; padding-bottom:4px; width:440px;">{{ selectedTarget }}</div>
</fieldset>
{% endblock %}
{% block scripts %}
<script>
    (function (global) {
        var dialogs = flm.ui.getDialogs();

        var diagId = dialogs.getDialogId('window');

        dialogs.onStart(function () {
            var hasError;
            var checksumFile = $.trim(dialogs.getTargetPath(diagId));

            if (!checksumFile.length) {
                hasError =theUILang.fDiagSFVempty;
            } else if (!flm.utils.isValidPath(checksumFile)) {
                hasError = theUILang.fDiagInvalidname;
            }
            if($type(hasError))
            {
                var def = $.Deferred();
                def.reject(theUILang.fcheckSFV +' - ' +hasError, checksumFile);
                return def.promise();
            }
            //flm.manager.logStart(theUILang.fStarts.sfv_check);

            return flm.api.sfvCheck(checksumFile)
                .done(function (response) {
                    //flm.manager.logAction('sfvcheck', ' checksum file ' + checksumFile);
                    return response;
                });
        });

    })
    (window);
</script>
{% endblock %}



