{% extends "flm::dialog-window.twig" %}
{% block content %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="8%"><strong>Format:</strong></td>
            <td width="92%">
                <select id="fMan_nfoformat" name="fMan_nfoformat">
                    <option value="1" selected="selected">DOS</option>
                    <option value="0">WIN</option>
                </select>
                {% set nfoFile = buildPath([currentPath, selectedTarget]) %}
                <input name="flm_popup_nfo_view-content-nfofile" type="hidden" id="flm_popup_nfo_view-content-nfofile" value="{{ nfoFile }}"/></td>
        </tr>
    </table>
    <div id="flm_popup_nfo_view-content" style="width: 549px;">
        <pre>Loading...</pre>

{#        <div id="editor">function foo(items) {
            var x = "All this is syntax highlighted";
            return x;
            }</div>

        <script>
            var editor;
            $(document).ready(function() {
                injectScript('https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js',
                function () {
                    editor = ace.edit("editor");
                    editor.setTheme("ace/theme/monokai");
                    editor.session.setMode("ace/mode/javascript");
                });
            });
        </script>#}
    </div>
{% endblock %}

{% block buttons %}
<div class="aright buttons-list">

<input type="button" class="flm-diag-cancel Button" value="{{ closeButtonValue is defined ? closeButtonValue : theUILang.fDiagClose }}"/>
</div>

{% endblock %}
