{% set pathbrowse = currentPath %}
{% set multiselect = true %}
{% set multiselectFilesOnly = false %}

{% extends "flm::dialog-window.twig" %}
{% block heading %}
    <legend>{{ theUILang.fDiagArchive }}</legend>
{% endblock %}
{% block content %}
    <label style="clear:both; float: left;"
           class="fman-archive-settings-pass fman-archive-settings-rar">
        Password: <input name="fman-extract-password" class="TextboxLarge" type="text" value=""
                         id="fman-extract-password"/>
    </label>
{% endblock %}

{% set startButtonValue = theUILang.flm_diag_extract_button %}

{% block scripts %}
<script>
    (function (global) {
        console.log('doing extract');
        var dialogs = flm.ui.getDialogs();
        var diagId = dialogs.getDialogId('window');

        if(!flm.manager.hasOwnProperty('doExtract'))
        {
            // service
            flm.manager.doExtract = function(archiveFiles, toDir) {

                var password = $("#fman-extract-password");

                var deferred = $.Deferred();

                if (!toDir.length || !flm.utils.isDir(toDir)) {
                    deferred.reject( theUILang.fDiagNoPath + ' : ' + toDir);
                    return deferred.promise();
                }

                if(!$type(archiveFiles) || archiveFiles.length === 0)
                {
                    deferred.reject('Empty paths');
                    return deferred.promise();
                }

                var cPath = flm.getCurrentPath();

                return flm.api.extractFiles(
                    flm.manager.getFullPaths(archiveFiles),
                    flm.manager.stripJailPath(toDir),
                   password.val()
            )
                    .then(function (response) {
                        flm.Refresh(cPath);
                        return response;
                    },
                    function (response) {
                        return response;
                    });
            };
        }


        // form submit
        dialogs.onStart(function () {

            return flm.manager.doExtract(dialogs.getCheckedList(diagId),  dialogs.getTargetPath(diagId)+'/');
        });

    })
    (window);
</script>
{% endblock %}




