<table border="0" id="fMan_navpath" width="100%">
    <tr>
        <td width="19"><input class="flm-nav-refresh flm-sprite sprite-curdir" id="flm-nav-refresh"
                              name="flm-nav-refresh"
                              type="button"
                              value=""/></td>
        <td><select id="flm-navpath" name="flm-navpath" style="width:100%;">
            </select>
        </td>
    </tr>
</table>
<form action="{{ apiUrl }}"
      id="flm-get-data"
      method="post"
      style="display:none"
      target="datafrm">
    <input name="dir" type="hidden" value="">
    <input name="target" type="hidden" value="">
    <input name="action" type="hidden" value="fileDownload">
</form>

<script>
    (function (global) {
        var cpath = $('#flm-navpath');

        flm.ui.updateNavbarPath = function () {

            var currentPath = flm.getCurrentPath();
            var historySize = flm.ui.settings.getSettingValue('histpath');
            var entries = [];

            entries.push(currentPath);


            cpath.children('option').each(function (index, val) {
                if (entries.length < historySize) {
                    if (val.value !== currentPath && val.value !== '/') {
                        entries.push(val.value);
                    }
                }
            });

            currentPath !== '/' && entries.push('/');
            cpath.empty();
            var path;
            for (var i = 0; i < entries.length; i++) {
                path = entries[i];
                var option = $('<option>' + flm.utils.rtrim(path, '/') + '</option>');
                (path === currentPath) && option.attr('selected', 'selected');
                cpath.append(option);
            }

        };

        $(document).on(flm.EVENTS.changeDir, function () {
            flm.ui.updateNavbarPath();
        });

        cpath.change(function () {
            var path = $(this).val();
            if (path === flm.getCurrentPath()) {
                return false;
            }

            flm.goToPath(path);
        });

        $('#flm-nav-refresh').on('click', function () {
            flm.Refresh();
        });

    })(window)

</script>