<table width="100%" border="0" id="fMan_navpath" cellspacing="0" cellpadding="0">
    <tr>
        <td width="19"><input type="button" name="fMan_navbut" id="fMan_navbut" value=""/></td>
        <td><select name="fMan_pathsel" id="fMan_pathsel" style="width:100%;">
            </select>
        </td>
    </tr>
</table>
